<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem e Inclusão de Carros</title>
</head>
<body>

<h2>Listagem e Inclusão de Carros</h2>

<p>
    TADS Atividade Desenvolvimento Web 2023-2 - Turma A<br>
    Nome completo: JEFFERSON FERREIRA DA SILVA<br>
    Está cursando PI4 neste semestre? SIM
</p>

<p>Observações:</p>
<p>SE NECESSÁRIO, INCLUIR NESTA SEÇÃO OBSERVAÇÕES A RESPEITO DA ATIVIDADE REALIZADA</p>

<p>
    <a th:href="@{/}">Link para tela inicial</a>
</p>

<p>
    <a th:href="@{/listagem-carros}">Link para tela de listagem de carros</a>
</p>

<p>
    <a th:href="@{/form-cadastro-carro}">Link para formulário de cadastro de carro</a>
</p>

</body>
</html>
